PORT=5005
MONGODB_URI=mongodb+srv://user:pw@cluster0.wt7yfd8.mongodb.net/?appName=Cluster0
VITE_API_URL=http://localhost:port
JWT_SECRET=secret_key
JWT_EXPIRES_IN=hour (ex:24h)
FRONTEND_URL=http://localhost:portfrontend
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=secret_key
