@import "tailwindcss";

:root {
  --primary: #0d631b;
  --primary-container: #2e7d32;
  --on-primary-container: #cbffc2;
  --surface: #fcf9f8;
  --background: #fcf9f8;
  --on-surface: #1c1b1b;
  --on-surface-variant: #40493d;
  --outline-variant: #bfcaba;
}

body {
  background-color: var(--background);
  color: var(--on-surface);
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}
