@import "tailwindcss";

:root {
  --primary: #387b41;
  --primary-container: #387b41;
  --on-primary-container: #ffffff;
  --surface: #ffffff;
  --background: #f8faf7;
  --on-surface: #1c1b1b;
  --on-surface-variant: #40493d;
  --outline-variant: #e0e4df;
  --tertiary: #1d622b;
  --tertiary-container: #abf4ac;
}

body {
  background-color: var(--background);
  color: var(--on-surface);
  font-family: 'Inter', sans-serif;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
